# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Mac system files
.DS_Store

# Environment variables
.env

# Launch Agent files
*.plist

# Temporary files
tmp/
temp/
*.tmp

# IDE specific files
.idea/
.vscode/
*.sublime-workspace
*.sublime-project
